<!DOCTYPE html>
<html>
<head>
    <title>Nerural GUI</title>
    <meta charset="utf-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link href="/static/bower_components/angular-material/angular-material.css" rel="stylesheet"/>

    <script src="/static/bower_components/angular/angular.js"></script>
    <script src="/static/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/static/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/static/bower_components/angular-material/angular-material.js"></script>
    <script src="/static/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/static/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="/static/bower_components/svg-morpheus/compile/minified/svg-morpheus.js"></script>


    <script src="/static/ng/controllers/controllers.js"></script>
    <script src="/static/ng/directives/directives.js"></script>
    <script src="/static/ng/services/services.js"></script>

    <script src="/static/ng/apps/neural_gui_app.js"></script>
    <script src="/static/ng/controllers/demo_controller.js"></script>
    <script src="/static/ng/directives/drawing_directive.js"></script>
    <script src="/static/ng/services/query_service.js"></script>

    <style>
        .md-button {
            margin: 10px;
        }
    </style>

</head>
<body ng-app="neuralGuiApp" ng-controller="DemoCtrl">
<md-progress-linear ng-show="details.processing" md-mode="indeterminate"
                    style="position: absolute; top:0; width: 100%;"></md-progress-linear>

<div layout="column" layout-align="start center">
    <div>
        <canvas drawing width="300" height="300" style="padding: 5px;"></canvas>
    </div>
    <section layout="row" layout-sm="column" layout-align="center center" style="margin-top: 20px">
        <md-button ng-click="onSendQuery()" class="md-raised md-primary">Odczytaj</md-button>
        <md-button ng-click="onReset()" class="md-raised">Wyczyść</md-button>
    </section>
</div>
<div layout="column" layout-align="center center">
    <md-content>
        <md-list>
            <md-item ng-repeat="item in todos">
                <md-item-content>
                    <div class="md-tile-left">
                        <canvas drawed data-input="" width="100" height="100"></canvas>
                    </div>
                    <div class="md-tile-content">
                        <section layout="row" layout-sm="column" layout-align="center center">
                            <div>
                                <h2>Odczytano: A</h2>
                            </div>
                        </section>
                    </div>
                    <div class="md-tile-right">
                        <div>
                            <md-button>
                                <ng-md-icon icon="redo"></ng-md-icon>
                            </md-button>

                        </div>
                        <div>
                            <md-button>
                                <ng-md-icon icon="autorenew"></ng-md-icon>
                            </md-button>
                        </div>
                    </div>

                </md-item-content>
            </md-item>
        </md-list>
    </md-content>
</div>

</body>
</html>